<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Number of Upvotes</th>
      <th>Number of Downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.numberofupvotes %></td>
        <td><%= restaurant.numberofdownvotes %></td>
        <td><%= link_to 'Show', restaurant %></td>
	<td><%= link_to 'Upvote', upvote_path(restaurant), method: :put %></td>
	<td><%= link_to 'Downvote', downvote_path(restaurant), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
