<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Numberofupvotes:</strong>
  <%= @restaurant.numberofupvotes %>
</p>

<p>
  <strong>Numberofdownvotes:</strong>
  <%= @restaurant.numberofdownvotes %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
